.skills {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-image: url('../img/office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container {
        width: 70vw;
        height: 40vh;
        background-color: $background-skills;
        border-radius: 3rem;
        padding: 3rem;
    }

    &__title {
        @include font-bold;
        font-size: 2rem;
    }

    &__list {
        padding: 5% 10%;
        display: grid;
        gap: 5%;
        grid-template-columns: 1fr 1fr;       
        box-sizing: border-box; 
        @include font-bold;
        color: $font-hover;
    }

    &__list-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        progress[value] {
            display: block;
            width: 10rem;
            height: 1.5rem;
            // accent-color: black;
            background-color: black;
            // color: black;
            // border-radius: 3rem;
        }
        // progress::-webkit-progress-bar {
        //     accent-color: black;
        //     background-color: yellow;
        //     border-radius: 7px;
        // }
        //   progress::-webkit-progress-value {
        //     background-color: blue;
        //     border-radius: 7px;
        //     box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
        //   }
    }

        // &__item-progress[value] {
        //     // background-color: aqua;
        //     height: 2%;
        // }

}