$background-dark : rgb(24, 32, 59);
$background-info : rgba(62, 62, 62, 0.76);
$background-skills : rgba(62, 62, 62, 0.524);

$font-white : rgb(227, 227, 227);
$font-blue : rgb(0, 213, 255);
$font-yellow : rgb(251, 255, 0);
$font-red : rgb(255, 4, 129);
$font-hover : rgb(198, 220, 255);

$white : rgb(227, 227, 227);
$white-selected : rgb(192, 192, 192);